<%= div_for(comment) do %>
  <p>
    <%= comment %> says: </br>
    <strong> Posted <%= time_ago_in_words(comment.created_at)%></strong></br>
    <%= h(comment.content) %>
  </p>

<% end %>
<%= button_to "Delete", bike_comment_url(comment), method: :delete, data: {confirm: "Are you sure?"} %>
