<table id=“rwd-table”>
  <thead>
    <tr>
      <th>Company</th>
      <th>Year</th>
      <th>Month</th>
      <th>Serial number 1</th>
      <th>Serial number 2</th>
      <th>Model</th>
      <th>Rim size</th>
      <th>Type</th>
      <th>Metal</th>
      <th>Top tube</th>
      <th>Head tube</th>
      <th>Color</th>
      <th>Serial number location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bikes.each do |bike| %>
      <tr>
        <td><%= bike.company %></td>
        <td><%= bike.year %></td>
        <td><%= bike.month %></td>
        <td><%= bike.serial_number_1 %></td>
        <td><%= bike.serial_number_2 %></td>
        <td><%= bike.model %></td>
        <td><%= bike.rim_size %></td>
        <td><%= bike.bike_type %></td>
        <td><%= bike.metal %></td>
        <td><%= bike.top_tube %></td>
        <td><%= bike.head_tube %></td>
        <td><%= bike.color %></td>
        <td><%= bike.serial_number_location %></td>
        <td><%= link_to 'Show', bike %></td>
        <% if current_user.id == bike.user_id %>
          <td><%= link_to 'Edit', edit_bike_path(bike) %></td>
        <% end %>
        <% if current_user.id == bike.user_id %>
          <td><%= link_to 'Delete', bike, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
