<div id='new-bike-form'>
  <%= form_for(@bike) do |f| %>
    <% if @bike.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bike.errors.count, "error") %> prohibited this bike from being saved:</h2>

        <ul>
        <% @bike.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="bike-input-fields">

      <div class="first-col">
        <div class="field">
          <%= f.text_field :company, placeholder: "companys" %>
        </div>
        <div class="field">
          <%= f.text_field :year, placeholder: "year" %>
        </div>
        <div class="field">
          <%= f.text_field :month, placeholder: "month" %>
        </div>
        <div class="field">
          <%= f.text_field :serial_number_1, placeholder: "serial number 1" %>
        </div>
        <div class="field">
          <%= f.text_field :serial_number_2, placeholder: "serial number 2" %>
        </div>
        <div class="field">
          <%= f.text_field :model, placeholder: "model" %>
        </div>
        <div class="field">
          <%= f.text_field :rim_size, placeholder: "rim size" %>
        </div>
      </div>

      <div class="second-col">
        <div class="field">
          <%= f.text_field :bike_type, placeholder: "bike type" %>
        </div>
        <div class="field">
          <%= f.text_field :metal, placeholder: "metal" %>
        </div>
        <div class="field">
          <%= f.text_field :top_tube, placeholder: "top tube" %>
        </div>
        <div class="field">
          <%= f.text_field :head_tube, placeholder: "head tube" %>
        </div>
        <div class="field">
          <%= f.text_field :color, placeholder: "color" %>
        </div>
        <div class="field">
          <%= f.text_field :serial_number_location, placeholder: "serial number location" %>
        </div>
        <div class="field">
          <%= f.text_field :image_url, placeholder: "Image URL" %>
        </div>
      </div>

      <div class="tag-input field">
        <%= f.text_field :all_tags, placeholder: "Tags, seperated, with, comma, for, each, tag" %>
      </div>
    </div>


    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>
</div>
