<p id="notice"><%= notice %></p>

<div class="bike-info" style='width:100%; text-align:center;'>
  <div class="inner-bike-info"style='max-width:80%;text-align:center;'>


    <div class="bike-stats" style="width: 400px; text-align: center; display:inline-block; vertical-align: top;padding-right: 10px;">
      <p>
        <strong>Company:</strong>
        <%= @bike.company %>
      </p>

      <p>
        <strong>Year:</strong>
        <%= @bike.year %>
      </p>

      <p>
        <strong>Month:</strong>
        <%= @bike.month %>
      </p>

      <p>
        <strong>Serial number 1:</strong>
        <%= @bike.serial_number_1 %>
      </p>

      <p>
        <strong>Serial number 2:</strong>
        <%= @bike.serial_number_2 %>
      </p>

      <p>
        <strong>Model:</strong>
        <%= @bike.model %>
      </p>

      <p>
        <strong>Rim size:</strong>
        <%= @bike.rim_size %>
      </p>

      <p>
        <strong>Type:</strong>
        <%= @bike.bike_type %>
      </p>

      <p>
        <strong>Metal:</strong>
        <%= @bike.metal %>
      </p>

      <p>
        <strong>Top tube:</strong>
        <%= @bike.top_tube %>
      </p>

      <p>
        <strong>Head tube:</strong>
        <%= @bike.head_tube %>
      </p>

      <p>
        <strong>Color:</strong>
        <%= @bike.color %>
      </p>

      <p>
        <strong>Serial number location:</strong>
        <%= @bike.serial_number_location %>
      </p>
    </div>
    <%= image_tag @bike.image_url, class: "bike-img" %>
  </div>
</div>

<div class="backlinks" style="font-size: 20px;dispaly:float;text-align:center;">
  <% if current_user.id == @bike.user_id %>
    <%= link_to 'Edit', edit_bike_path(@bike), {class: "back-links"} %> |
  <% end %>
  <%= link_to 'Back', bikes_path, {class: "back-links"} %>
</div>
<%= render '/comments/comment_form' %>
<%= render :partial => @bike.comments %>
